
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
}
.container{
  width: 100%;
  height: 100vh;
  overflow: hidden;

}
img{
  position: relative;
 z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;

}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}
.header .logo  p{
    color: rgb(247, 241, 241);
    margin:20px ;
    float: left;
    font-size: 20px;
}
.header ul{
    list-style: none;
    display: inline-flex;
    float: right;
}
.header ul li{
    font-size: 20px;
    margin: 20px;
}
.header ul li a{
    text-decoration: none;
    color: rgb(247, 243, 243);
}
.header ul li a:hover{
    color: rgb(245, 240, 240);
    font-weight: bolder;
    
}
.header ul ul{
    display: none;
}
.header ul li:hover ul{
    display: block;
    position: absolute;
    min-width: 160px;
}
.header ul li:hover ul li{
    float: none;
    margin: 10px 0;
}

/*------------------------------social media icons-----------------------------------------*/

a {
  color: #fff;
  text-decoration: none;
 
}
.social {
  position: fixed;
  top: 15%;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}

.social ul li {
  display: block;
  margin: 5px 5px 5px 30px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(100px, 0);
  transform: translate(100px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: rgb(40, 236, 210);
}
.social ul li:hover i {
  color: #fff;
  background: rgb(202, 94, 6);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/*------------------------------About-----------------------------------------------------*/

.sec-1{
  position: absolute;
  color: white;
  width: 500px;
  height: 200px;
  top: 15%;
  left: 13%;
 
}

.sec-1 h1{
  font-size: 50px;
  
}
.sec-1 h2{
  font-size: 30px;
  margin-bottom: 20px;
}
.sec-1 p{
  font-size: 17px;
  text-indent: 5%;
  text-align: justify;
  
}

/*---------------------------------section2------------------------------------------------*/

.sec-2{
  position: absolute;
  z-index: 1;
  color: rgb(251, 253, 253);
  top:65%;
  left:13%
}

.sec-2 h1{
  margin-bottom:5% ;
}

/*---------------------------------icons---------------------------------------------------*/

.icon {
  position: absolute;;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 80%;
  left:10%;
 
}
.icon ul{
  list-style: none;
  display: inline-flex;
}
.icon ul li{
  width: 100px;
  text-align: center;
  margin-right: 50px;
  
  
}
.icon ul li a{
  cursor: pointer;
  display: block;
}

.icon ul li a img{
  width: 60px;
  height: 60px;
 
}

.icon ul li a img:hover{
  width: 100px;
  height: 100px;
}

.icon a p{
  margin: 0;
  text-align: center;
}

.icon .image1 img{
  position: absolute;
  display: inline-block;
  top:-400px;
  left: 615px;
  width: 620px;
  height: 230px;
  z-index: -1; 
  transition: 0.5s;
  opacity: 0;
  border-radius: 150px 0 0 150px;
  padding: 0px;
  -webkit-transform: translate(370px, 0);
  transform: translate(370px, 0);
}
.icon .image1 .text{
  position: absolute;
  display: inline-block;
  z-index: -1;
  top:-400px;
  left: 715px;
  width: 500px;
  height: 200px;
  transition: 0.5s;
  opacity: 0;
  color:rgb(247, 239, 239);
  text-align: left;
  -webkit-transform: translate(400px, 0);
  transform: translate(400px, 0);


}

.text h1{
  margin: 20px 0;
}

.text p {
  text-indent:10% ;
  text-align:justify;
  font-size: 20px;
  font-weight: bold;
}

.icon ul li a:hover + .image1 img {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  
}

.icon ul li a:hover +.image1 .text{
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;

}




/*---------------------------------section3------------------------------------------------*/

.sec-3{
  position: absolute;
  z-index: 1;
  color: rgb(251, 253, 253);
  top:70%;
  left:55%
}

.sec-3 h2{
  margin-bottom:5% ;
}


/*---------------------------------icons---------------------------------------------------*/

.icon1 {
  position: absolute;;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 80%;
  left:55%;
}
.icon1 h1{
  color: #fff;
}

.icon1 ul{
  list-style: none;
  display: inline-flex;
}
.icon1 ul li{
  width: 100px;
  text-align: center;
  margin-right: 50px;
}

.icon1 ul li a{
  cursor: pointer;
  display: block;
}



.icon1 a img{
  width: 60px;
  height: 60px;
}
.icon1 a p{
  margin: 0;
  text-align: center;
}


.icon1 .image1 img{
  position: absolute;
  top:-300px;
  left: 0;
  width: 620px;
  height: 230px;
  z-index: -1; 
  transition: 0.5s;
  opacity: 0;
  border-radius: 150px 0 0 150px;
  padding: 0px;
  -webkit-transform: translate(370px, 0);
  transform: translate(370px, 0);
}

.icon1 .image1 .text{
  position: absolute;
  display: inline-block;
  z-index: -1;
  top:-300px;
  left: 100px;
  width: 500px;
  height: 200px;
  transition: 0.5s;
  opacity: 0;
  color:rgb(245, 238, 238);
  text-align: left;
  -webkit-transform: translate(400px, 0);
  transform: translate(400px, 0);
  
}

.icon1 .image1.text h1{
  margin: 20px 0;
}

.icon1 .image1 .text p {
  text-indent:10% ;
  text-align:justify;
  font-size: 20px;
  font-weight: bold;
}



.icon1 ul li a:hover + .image1 img{
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  
}
.icon1 ul li a:hover +.image1 .text{
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;

}

