*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
  }
  .back h1{
      font-size: 300px;
      position: fixed;
      opacity: .1;
      color: white;
      top: 40%;
      left: 25%;
  }
  

.header{
    top: 0;
    left: 0;
    width: 100%;
    
  }
  .header .logo  p{
    color: rgb(245, 239, 239);
    margin:20px ;
    float: left;
    font-size: 20px;
  }
  .header ul{
    list-style: none;
    display: inline-flex;
    float: right;
  }
  .header ul li{
    font-size: 20px;
    margin: 20px;
  }
  .header ul li a{
    text-decoration: none;
    color: rgb(248, 244, 244);
  }
  .header ul li a:hover{
    color: white;
    font-weight: bolder;
    
  }
  .header ul ul{
    display: none;
  }
  .header ul li:hover ul{
    display: block;
    position: absolute;
    min-width: 160px;
  }
  .header ul li:hover ul li{
    float: none;
    margin:10px 0;
  }
  
  
  /*------------------------------section1-----------------------------------------*/
  .sec-1{
      width: 100%;
      overflow: hidden;
      
  }
  
  a {
    color: rgb(10, 10, 10);
    text-decoration: none;
   
  }
  .social {
    
    padding-top: 5%;
    padding-left: 93%;
    
  }
  .social ul {
    padding: 0px;
    -webkit-transform: translate(0, 0);
    transform: translate(0,0);
    
  }
  
  .social ul li {
    display: block;
    margin: 5px 5px 5px 30px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: left;
    padding: 10px;
    -webkit-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .social ul li:hover {
    -webkit-transform: translate(-80px, 0);
    transform: translate(-80px, 0);
    background: rgba(255, 255, 255, 0.4);
  }
  .social ul li:hover a {
    color: rgb(247, 248, 247);
  }
  .social ul li:hover i {
    color: rgb(238, 231, 231);
    background: rgb(12, 12, 12);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .social ul li i {
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(17, 17, 17);
    background: rgb(238, 237, 237);
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  .cont-1{
    position: absolute;
    top: 20%;
    left: 10%;
    width:900px;
    height: 600px;
    color: rgb(247, 240, 240);
}
.cont-1 h1{
    font-size: 60px;
}
.cont-1 h2{
    margin-top:0px;
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(13, 231, 220);
}
.cont-1 p{
    font-size: 20px;
    line-height: 25px;
    opacity: .7;
}

.cont-1 p span{
    color: rgb(86, 86, 190);
    font-weight: bolder;
}
/*----------------------------------------section2------------------------------------------------------*/
.sec-2{
    width: 100%;
    
    color: white;
}
.sec-2 .box{
    position: relative;
    float: left;
    width: 1000px;
    height: 500px;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid rgb(247, 245, 245);
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(243, 242, 242, 0.8);
}
.sec-2 .box h1{
    margin: 20px 10px;
    font-size: 40px;
}
.sec-2 .box h2{
    margin: 10px 20px;
    opacity: .5;
}

.sec-2 .box p{
    margin: 20px ;
    font-size: 30px;

}

.sec-2 .box hr{
    width: 800px;
    margin: 40px 0 40px 100px;
}